@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="text-center">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <button class="btn btn-outline-primary">
                            <i class="bi bi-x-lg"></i> Se Booking
                        </button>
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <button class="btn btn-danger">
                            <i class="bi bi-x-lg"></i> Lav Booking
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--TEST-->
    <div class="container">
        <div class="row row-cols-3">
            @foreach (var room in Model.Rooms)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body text-start">
                            <h5 class="card-title text-center"><b>@room.Name</b></h5>
                            <img src="Media/@room.ImgPath" class="card-img-top" alt="Room Image">
                           @*  <p class="card-text"><i>Max @room.Capacity personer.</i></p> *@
                           <div class="row">
                                <div class="col mt-1">
                                <p class="card-text">Max: @room.Capacity personer </p>
                                <p class="card-text">Whiteboard @(room.Whiteboard ? "✅" : "❌")</p>
                                <p class="card-text">Smartboard: @(room.SmartBoard ? "✅" : "❌")</p>

                                </div>

                                <div class="col">
                                    <div class="d-flex justify-content-end gap-3 mt-2">
                                    <button class="btn btn-outline-primary" title="Book">
                                        <i class="bi bi-x-lg"></i> Book Rum
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row row-cols-5">
                            @for (int i = 7; i < 17; i++)
                            {
                                <div class="col">
                                    <p>@i</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>  
    </div>
</div>